#main-section{
    margin: 52px 314px ;
    margin-bottom: 200px;
    height: 397px;
    width: 146px ;
    text-align: center;
    border: 2px solid black;
    padding: 30px;
    background: -webkit-linear-gradient(lightblue, deepskyblue) ;
    border-radius: 100px 0px 30px 30px;
    transform: rotate(4.26deg);
   /* border-top-left-radius: 84px 190px; */

}

img {
    height: 140px;
    width: 140px;
    margin-top: 40px;
}

#top-section {
    margin: 40px auto;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
}

label {
    background: lightblue;
}